<div id="exp-div">
    {{> workExp title='Research Project Assistant - Oregon State University' date='June 2021 - Present' desc='
        <li>Designed and developed major features</li>
        <li>Expanded user interaction capabilities</li>
        <li>Assisted in writing <a class="visible-anchor" href="https://ieeexplore.ieee.org/abstract/document/10128896">this</a> paper</li>
        <li>Agile framework</li>
    '}}

    {{> workExp title='President - Oregon State Video Game Development Club' date='June 2022 - Present' desc='
        <li>Managed and ran a club of over 150 members</li>
        <li>Created opportunities for members to network and develop professional skills</li>
        <li>Hosting 2 game jams at Oregon State</li>
        <li>Brought members on trip to Portland to participate in-person in the largest game jam in the world</li>
    '}}

    {{> workExp title='Head Colorguard Coach - Sprague High School' date='September 2021 - April 2022' desc='
        <li>Taught team of 7 students with no prior experience</li>
        <li>Wrote and taught their competition choreography</li>
    '}}

    {{> workExp title='Technology Specialist - Target' date='April 2020 - July 2021' desc='
        <li>Kept up to date on consumer tech so guests could use me as a resource</li>
        <li>Managed electronics section with little to no supervision</li>
    '}}

    {{> workExp title='Captain - Sprague Robotics Team' date='September 2018 - June 2020' desc="
        <li>Created a sustainable club to further my school's STEM program</li>
        <li>Led a team of 12 people to 1st place in our division</li>
    "}}

    {{> workExp title='Team Member - Enchanted Forest' date='July 2018 - August 2019' desc='
        <li>Managed BBQ restaurant with no supervision</li>
        <li>Managed teams of up to 4 people every day</li>
    '}}
</div>

<section id="class-exp">
    <h1 class="section-heading">Classes Taken</h1>
    <p id="scraper-desc">
        This was generated dynamically using a web scraper and Handlebars. To see the source code, go to the projects tab and
        click the github link for this website. The source code is found in /crawler.js and /server.js.
    </p>
    {{#each classes}}
        {{> class}}
    {{/each}}
</section>
