<section>
    <h1 class="section-heading">Introduction</h1>
    <p>
        Hello! I'm Jack and I'm a current Oregon State University senior. I've
        been programming since I was 10 years old and since then it's been my
        dream to work in this industry. I'm working as a research project
        assistant under Dr. De Amicis doing research into applications of
        virtual reality. However, I'm also looking to intern over this summer
        as industry experience is important and I'm excited to apply what I've
        learned over these past three years in new and interesting ways!
    </p>

    <div class="skill-lists">
        <div class="proficiencies">
            <h1 class="section-heading">Language Proficiencies</h1>
            <ul>
                <li class="list-item">C/C++</li>
                <li class="list-item">C#</li>
                <li class="list-item">Python</li>
                <li class="list-item">MASM (Assembly)</li>
                <li class="list-item">CUDA</li>
                <li class="list-item">SQL</li>
                <li class="list-item">Node.js</li>
            </ul>
        </div>

        <div class="skills">
            <h1 class="section-heading">Skills</h1>
            <ul>
                <li class="list-item">Computer architecture</li>
                <li class="list-item">Game development</li>
                <li class="list-item">Virtual reality development</li>
                <li class="list-item">Unity</li>
                <li class="list-item">Parallel Programming</li>
                <li class="list-item">Leadership</li>
                <li class="list-item">Team communication</li>
                <li class="list-item">Music</li>
            </ul>
        </div>
    </div>
</section>

<section>
    <h1 class="section-heading">Featured Projects</h1>
    <div class="projects-div">
        <div class="project-div">
            <div class="project-header">
                <h2 class="section-heading">This Website</h2>
                <a class="github-button" href="https://github.com/jackhart591/Personal-Website" data-size="large" aria-label="Link to project">Link to project</a>
            </div>
            <div class="image-section">
            </div>
            <p>
                This project was my way of trying to apply my skills I learned in my web development class.
                This also allowed me to learn new skills in web development. By doing this, I learned how to use Sass,
                how to make a web crawler, and how to parse markdown. I also learned better how to use
                HTML effectively and accessible.
            </p>
        </div>

        <div class="project-div">
            <div class="project-header">
                <h2 class="section-heading">Scheduling App</h2>
                <a class="github-button" href="https://github.com/jackhart591/Personal-Website" data-size="large" aria-label="Link to project">Link to project</a>
            </div>
            <div class="image-section">
            </div>
            <p>
                An app that takes in which classes that the user wants to take and creates a schedule that
                optimizes it to include as many of them as possible. This will be done using react native and a
                web crawler to access class information. 
            </p>
        </div>
    </div>
</section>

<section id="biography">
    <h1 class="section-heading">Biography</h1>
    <p>
        I started programming when I got my first computer at age 10. I started with some basic text adventure games
        written in bash using the notepad editor. After that, I learned how to make Minecraft mods using Java which
        eventually led to me learning how to make games using Game Maker Studio and Unity. By the time I was out of
        middle school, I already was able to create some basic 3D games. <br/> <br/>
        In high school, I started taking formal computer science classes. I took Computer Science I and II as well as
        Advanced Computer Science, we learned Pascal, Java, and C++ in each of those classes respectively. I also
        took web development courses through that teacher, learning the basics of HTML and CSS using Bootstrap. After
        taking the three computer science classes, I was invited to join the school's tech support team in which I helped
        teachers whenever they ran into tech issues. I also took Advanced Computer Projects after that in which we were
        allowed to spend time working on whatever project interested us. I spent that time learning how to use Unreal 
        Engine 4, and made a really robust animation system for 3rd person games which you can find 
        <a class="visible-anchor" href="https://coffeefox79.itch.io/advanced-movement-project">here</a>. <br/> <br/>
        While in high school, I also participated in clubs. Namely, I joined the robotics club my freshman year. This
        was the first year of its existence so I and the other members were responsible for creating a sustainable
        club that would last past our time in the club. By my Junior year, I was the team captain and our team went
        to regionals. It taught me a lot about leadership and myself, specifically, I learned that I have a tendency
        to do everything myself and allowing myself to lean on my fellow leaders allows me to focus on the bigger
        picture. These leadership skills that I learned in this time are still things I use today, especially in
        my presidency of the Video Game Development Club. <br/> <br/>
        I also participated in colorguard during high school. Colorguard is a combination of ballet and technique
        using equipment such as flags, rifles, and sabres. They typically accompany the marching band, however, there
        are non-marching band guards. I also ended up in a leadership role in this group, for which I took summer
        classes for leadership. In these classes, I learned a lot about creating that human connection as a
        leader and using it to get the best out of your team. Participating in this group gave me a lot of lessons
        on hardwork, being relied on in a group, and allowed me to learn more about myself and how I wanted to
        express myself. <br/> <br/>
        Now, I am going to college at Oregon State University. I joined the Video Game Development Club as a
        freshman, and as a Junior, I became president. We brought our members out on trips to Portland for
        game jams and to host game jams here in Corvallis. We also give our members a space to network with other people
        interested in the game development field as well as encourage them to join us in game jams to develop and
        learn new skills.
    </p>
</section>
